 
 /* share style */

 .btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(97, 235, 235);
 }
 

 .img-2 img{
    width: 600px;
 }

 .container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
 }

