 
 .task-1{
    display: flex;
 }
 
 
 .div-left{
    width: 70%;
    height:400px;
    background-color: rgb(153, 216, 6);
    text-align: center;
    
 }

 .div-right {
    width: 70%;
    height:400px;
    background-color: rgb(100, 236, 152);
    text-align: center;
 }

 
 @media screen and (max-width: 712px) {
    .task-1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    
 }