 body{
   margin: 0px;
   padding: 20px;
 }

 .container{
   display: grid;
   grid-template-columns: 2fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   
   "one two two"
   "one three four"
   ;
  
   gap: 10px;
   height: 90vh;
 }

 .box{
   border: 2px solid tomato;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   font-weight: bolder;
 }

 .box-1{
   grid-area:one;
 }
 .box-2{
   grid-area: two ;
 }
 .box-3{
grid-area: three;
   
 }
 .box-4{
   grid-area: four;
   
 }