 
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   grid-template-areas:
    ;
}

 .div-1{
    background-color: aqua;
    height: 300px;
    grid-area: ;
 }

 .div-2{
    background-color: rgb(150, 177, 177);
     height: 300px;
        grid-area: ;
 }

 .div-3{
    background-color: rgb(73, 211, 103);
     height: 300px;
        grid-area: ;
 }

 .div-4{
    background-color: rgb(206, 221, 221);
     height: 300px;
        grid-area: ;
 }